.title {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.mine {
  position: absolute;
  bottom: 60px;
}

.example-item {
  height: 50px;
}

.action-btn {
  padding-top: 10px;
  margin-left: -20px;
}