<div fxLayout="column">
  <div fxLayout="column" fxLayoutAlign="center center">
    <form class="header-form" [formGroup]="headerForm">
      <div fxLayout="column">
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput formControlName="Date" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="bot-pad">
          <mat-label> First & Last Name</mat-label>
          <input type="text" placeholder="Select or Enter First Name & Last Name" matInput formControlName="Worker" [matAutocomplete]="autoWorkers">
          <mat-hint>Worker Completing Inspection</mat-hint>
          <mat-autocomplete #autoWorkers="matAutocomplete">
            <mat-option *ngFor="let worker of workers" [value]="worker">
              {{worker}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Supervisor Name</mat-label>
          <input type="text" placeholder="Select or Enter Supervisor Name" matInput formControlName="Supervisor" [matAutocomplete]="autoSupervisors">
          <mat-autocomplete #autoSupervisors="matAutocomplete">
            <mat-option *ngFor="let supervisor of supervisors" [value]="supervisor">
              {{supervisor}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="bot-pad">
          <mat-label>Stakeholder</mat-label>
          <mat-select formControlName="Stakeholder" multiple #stakeholderselect>
            <mat-select-trigger>
              {{stakeholderselect.value ?stakeholderselect.value[0] : ''}}
              <span *ngIf="stakeholderselect.value?.length > 1">
                (+{{stakeholderselect.value.length - 1}} {{stakeholderselect.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let stakeholder of stakeholders" [value]="stakeholder">{{stakeholder}}</mat-option>
          </mat-select>
          <mat-hint>Employee/Contractor/Vendor/Consultant</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Division</mat-label>
          <mat-select formControlName="Division" multiple #divisionselect>
            <mat-select-trigger>
              {{divisionselect.value ?divisionselect.value[0] : ''}}
              <span *ngIf="divisionselect.value?.length > 1">
                (+{{divisionselect.value.length - 1}} {{divisionselect.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let division of divisions" [value]="division">{{division}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Vehicle Mileage Reading (KM)</mat-label>
          <input matInput placeholder="Vehicle Mileage Reading (KM)" formControlName="Mileage" type="number">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Registration Expiry Date</mat-label>
          <input matInput formControlName="RegistrationDate" [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>