<div class="container-padding">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <h2>{{ lookupListName$ | async }}</h2>
    </div>
    <div>
      <button color="primary" (click)="openMenu()" mat-flat-button>Lists</button>
    </div>
  </div>
  <div fxLayout="column">
    <form [formGroup]="runForm">
      <mat-form-field fxFlex>
        <mat-label>Enter new List Item</mat-label>
        <input matInput type="text" formControlName="item" placeholder="Enter new List Item" required>
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="save()" color="primary" [disabled]="!runForm.valid" runForm.type="submit">
      Add Item to List
    </button>
  </div>
  <br>
  <div>
    <table mat-table [dataSource]="appService.dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td (click)="edit(i, element)" class="hand" mat-cell *matCellDef="let element; let i = index">
          <div>{{element.data}}</div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>