<div [ngStyle]="{'background-color': (background$ | async)}" fxFlexFill>
  <div class="header">
    <mat-toolbar>
      <mat-icon color="primary" class="material-icons-outlined">{{ childPageIcon$ | async }}</mat-icon>
      <div class="primary-color">&nbsp;{{ childPageLabel$ | async }}</div>
      <span class="toolbar-spacer"></span>
      <div fxLayoutGap="25px" fxLayoutAlign="space-around center">
        <mat-icon class="hand material-icons-outlined" (click)="openNotifications(1)">border_color</mat-icon>
        <mat-icon class="hand material-icons-outlined" (click)="openNotifications(0)" matBadge="{{notificationCount$ | async}}"
          matBadgeColor="accent">notifications</mat-icon>
        <button color="primary" (click)="signout()" mat-icon-button><mat-icon class="material-icons-outlined">logout</mat-icon></button>
      </div>
    </mat-toolbar>
  </div>

  <div class="content">
    <mat-sidenav-container class="list-container"
      [ngStyle]="{'background-color': (background$ | async), 'style.height.px': myInnerHeight }"
      (backdropClick)="close('backdrop')">
      <mat-sidenav #sidenav (keydown.escape)="close('escape')" class="list-menu" mode="over"
        [(opened)]="appService.isListMenu" [fixedInViewport]="true" [fixedTopGap]=55>
        <app-form-lists (selectList)=selectList()></app-form-lists>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="content-full">
          <app-run *ngIf="(childPage$ | async) === 'run'"></app-run>
          <app-sdk *ngIf="(childPage$ | async) === 'sdk'"></app-sdk>
          <app-dashboard *ngIf="(childPage$ | async) === 'dashboard'"></app-dashboard>
          <app-list-run *ngIf="(childPage$ | async) === 'list'"></app-list-run>
          <app-data *ngIf="(childPage$ | async) === 'data'"></app-data>
          <app-forms *ngIf="(childPage$ | async) === 'forms'" (selectData)=selectPage()></app-forms>
          <app-list-forms *ngIf="(childPage$ | async) === 'list-forms'" (selectData)=selectPage()></app-list-forms>
          <app-data-forms *ngIf="(childPage$ | async) === 'data-forms'" (selectData)=selectPage()></app-data-forms>
          <app-settings *ngIf="(childPage$ | async) === 'settings'"></app-settings>
          <app-email-list *ngIf="(childPage$ | async) === 'email'"></app-email-list>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div class="footer">
    <app-menu></app-menu>
  </div>
</div>