<div class="header">
  <mat-toolbar>
    <button (click)="whyus()" mat-button color="primary">
      Features
    </button>
    <button (click)="pricing()" mat-button color="primary">
      Pricing
    </button>
    <button (click)="contact()" mat-button color="primary">
      Contact
    </button>
    <span class="toolbar-spacer"></span>
    <button (click)="signin()" mat-stroked-button color="primary">
      Sign In
    </button>
  </mat-toolbar>
</div>
<div class="content">
  <form class="container-padding">
    <br>
    <div fxLayout="column">
      <div class="text-color text-center">
        <div><img style="width:400px;" src="{{logo}}"></div>
      </div>
      <br>
      <div class="hand" fxLayoutAlign="center">
        <mat-icon class="icon-169px-action" (click)="testdrive()">fingerprint</mat-icon>
      </div>
      <div class="mat-headline text-color" fxLayoutAlign="center">Take a Test Drive</div>
      <br>
      <div class="hand" fxLayoutAlign="center">
        <a href='{{designUrl}}'>
          <mat-icon color="accent" class="icon-169px">fingerprint</mat-icon>
        </a>
      </div>
      <div class="mat-headline text-color" fxLayoutAlign="center">Got a Doc to Digitialize?</div>
    </div>
  </form>
</div>
<div class="footer">
  <mat-toolbar>
    <div class="hand" fxLayoutGap="15px">
      <!-- <a mat-button href="{{githubUrl}}" target="blank" color="primary">
        <img src="assets/GitHub-Mark-Light-32px.png">
      </a> -->
      <a class="green" href="https://github.com/formloco/formloco/wiki" target="blank" mat-stroked-button>
        Developers
      </a>
      <!-- <a class="green" (click)="signup()" mat-stroked-button>
        <mat-icon>rocket_launch</mat-icon>&nbsp;Sign Up!
      </a> -->
    </div>
    <span class="toolbar-spacer"></span>
    <!-- <div fxLayoutGap="15px">
      <a mat-button href='{{githubUrl}}' target="blank" color="primary">
        <img src="assets/GitHub-Mark-Light-32px.png">
      </a>
    </div> -->
    <img src="assets/parrot.svg" height="28px">&nbsp;<span class="mat-small text-color">Updated: {{version}}</span>
  </mat-toolbar>
</div>