<div fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <div class="header-font" fxLayoutAlign="start center">{{ data.label }}</div>
  </div>
  <div class="header-font" fxLayoutAlign="start center" class="icon-pointer" (click)="dialogRef.close()">
    <mat-icon class="hand">close</mat-icon>
  </div>
</div>
<br><br>
<form fxLayout="column" [formGroup]="correctiveActionForm">
  <ion-label position="stacked">Date for corrective actions to be completed</ion-label>
  <ion-datetime class="picker-color" displayFormat="MMM DD, YYYY"
    formControlName="DateCorrectiveActionToBeCompleted">
  </ion-datetime>
  <mat-divider></mat-divider>
  <br>
  <div>
    <div class="text-color" fxLayoutAlign="space-between center">
      <div>
        <mat-label>Corrective Action Required</mat-label>
      </div>
      <div>
        <button (click)="openVoice('CorrectiveActionRequired','Hazard Identification & Control Comments')" mat-mini-fab
          color="primary">
          <mat-icon matSuffix>mic_none</mat-icon>
        </button>
      </div>
    </div>
    <div>
      <mat-form-field fxFlex>
        <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" matInput
          formControlName="CorrectiveActionRequired" fxFlex></textarea>
      </mat-form-field>
    </div>
  </div>
  <br>
  <mat-form-field>
    <mat-label>Person Responsible</mat-label>
    <input type="text" placeholder="Person Responsible" matInput
      [formControl]="autoCompleteService.personResonsibleCorrectiveActionControl" [matAutocomplete]="autoWorkers"
      required>
    <mat-autocomplete #autoWorkers="matAutocomplete" required>
      <mat-option *ngFor="let worker of autoCompleteService.filteredWorkers$ | async" [value]="worker.name">
        {{worker.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <ion-label position="stacked">Date corrective actions were complete</ion-label>
  <ion-datetime class="picker-color" displayFormat="MMM DD, YYYY HH:mm" formControlName="DateCorrectiveActionCompleted">
  </ion-datetime>
  <mat-divider></mat-divider>
  <br>
  <div class="hand" fxLayoutAlign="center">
    <mat-icon *ngIf="!correctiveActionForm.valid" class="icon-169px text-color">fingerprint</mat-icon>
    <mat-icon *ngIf="correctiveActionForm.valid" class="icon-169px-action" (click)="save()">fingerprint</mat-icon>
  </div>
</form>