<div class="padding" fxLayout="row">
  <div fxLayoutAlign="space-around center">
    <button (click)="getEmail()" mat-stroked-button color="primary" fxFlex>Reset Password</button>
  </div>
  <span class="toolbar-spacer"></span>
  <div fxLayoutAlign="start center">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <img src="assets/parrot.svg" height="42px">
    </button>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item>
        <img *ngIf="(isDarkMode$ | async)" src="{{branding.logoDark}}" height="90px">
        <img *ngIf="!(isDarkMode$ | async)" src="{{branding.logoLight}}" height="90px">
      </button> -->
      <button mat-menu-item>{{version}}</button>
      <button mat-menu-item (click)="upGradeIndexDB()">UpGrade</button>
    </mat-menu>
  </div>
</div>
<div fxLayout="column">
  <form class="container-padding" [formGroup]="idForm">
    <div fxLayout="column">
      <div class="text-color text-center">
        <div><img src="{{logo}}"></div>
      </div>
      <br>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Company Email</mat-label>
        <input matInput placeholder="Company Email" formControlName="email" type="text" required>
        <mat-error>
          Proper email is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" type="password" required>
        <mat-error>
          Password is required!
        </mat-error>
      </mat-form-field>
      <div class="hand" fxLayoutAlign="center">
        <mat-icon *ngIf="!idForm.valid" class="icon-169px text-color">fingerprint</mat-icon>
        <mat-icon *ngIf="idForm.valid" class="icon-169px-action" (click)="save()">fingerprint</mat-icon>
      </div>
    </div>
  </form>
</div>