<div class="mat-headline" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayoutAlign="start center">Document Sign-off</div>
  <div fxLayoutAlign="start center" class="hand" (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </div>
</div>
<div mat-subheader>{{data.notification.form_name}}</div>
<br>
<div fxLayout="column">
  <div><b>Date:</b>&nbsp;&nbsp;{{data.form.data.header.Date | date: 'shortDate'}}</div>
  <div><b>Worker:</b>&nbsp;&nbsp;{{data.form.data.header.Worker}}</div>
  <div><b>Supervisor:</b>&nbsp;&nbsp;{{data.form.data.header.Supervisor}}</div>
</div>
<br>
<mat-divider></mat-divider>
<br><br>
<div *ngIf="!kioske" fxLayout="column" class="hand" fxLayoutAlign="space-around center">
  <mat-icon class="icon-169px-action" (click)="signForm()">fingerprint</mat-icon>
  <div class="text-color bottom-padding">
    <mat-label>Press to Sign</mat-label>
  </div>
</div>

<div *ngIf="kioske" fxLayout="column" class="hand" fxLayoutAlign="space-around center">
  <mat-icon class="icon-169px text-color" (click)="signForm()">fingerprint</mat-icon>
  <div class="text-color bottom-padding">
    <mat-label>Press to Sign</mat-label>
  </div>
</div>
<div class="padding" fxLayoutGap="20px" class="footer">
  <button color="primary" mat-mini-fab>
    <mat-icon class="material-icons-outlined hand" (click)="openPdf()">picture_as_pdf</mat-icon>
  </button>
</div>