<div [formGroup]="runForm" class="control-padding text-color" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row">
    <label>{{appService.detailArray[index].label}}</label>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="10px">
    <mat-checkbox *ngFor="let checkbox of appService.detailArray[index].checkboxArray"
                  formControlName="{{checkbox.formControlName}}"
                  value="{{checkbox.value}}"  
                  [labelPosition]="checkbox.labelPosition" [required]="checkbox.required">
      {{checkbox.label}}
    </mat-checkbox>
  </div>
</div>

