<div class="header">
  <mat-toolbar>
    <span fxLayoutAlign="center center">
      <mat-icon class="text-color">{{ (app$ | async)?.icon }}</mat-icon>&nbsp;
      <span class="text-color">{{(app$ | async)?.name }}</span>
    </span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button (click)="close()">
      <mat-icon class="text-color">close</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div class="content">
  <app-asset *ngIf="(appPage$ | async) == 'asset'"></app-asset>
  <app-assets *ngIf="(appPage$ | async) == 'assets'"></app-assets>
  <app-asset-log *ngIf="(appPage$ | async) == 'log'"></app-asset-log>
  <app-asset-map *ngIf="(appPage$ | async) == 'map'"></app-asset-map>
</div>
<div class="footer">
  <app-asset-menu *ngIf="(app$ | async)?.id == 'asset-tracker'"></app-asset-menu>
</div>
