<div fxLayout="row" class="text-color control-padding" fxLayoutGap="20px" fxFlexAlign="center center">
  <div>Latitude: {{state["lat"]}}</div>
  <div>Longitude: {{state["long"]}}</div>
  <!-- <mat-form-field appearance="{{appService.detailArray[index].lat.appearance}}">
    <mat-label>{{appService.detailArray[index].lat.label}}</mat-label>
    <input matInput disabled value="{{lat}}" [type]="appService.detailArray[index].lat.types" [placeholder]="appService.detailArray[index].lat.placeholder">
  </mat-form-field>
  <mat-form-field appearance="{{appService.detailArray[index].long.appearance}}">
    <mat-label>{{appService.detailArray[index].long.label}}</mat-label>
    <input matInput disabled value="{{long}}" [type]="appService.detailArray[index].long.types" [placeholder]="appService.detailArray[index].long.placeholder">
  </mat-form-field> -->
</div>