<form class="header-form" [formGroup]="todoForm">
  <div fxLayout="column" color="primary" fxLayoutAlign="center start" fxLayoutGap="20px">
    <mat-checkbox color="primary" class="text-color" formControlName="SiteOrientation">SiteOrientation</mat-checkbox>
    <mat-checkbox color="primary" class="text-color" formControlName="DailySafetyMeeting">Attend a Daily Safety
      Meeting / Toolbox Talk</mat-checkbox>
    <mat-checkbox color="primary" class="text-color" formControlName="SiteTour">Site tour (2 hrs)</mat-checkbox>
    <mat-checkbox color="primary" class="text-color" formControlName="SiteTourWithWorker">Site tour with worker
    </mat-checkbox>
    <mat-checkbox color="primary" class="text-color" formControlName="ReviewDiscuss">Complete/review and discuss
      <br>FLHA/JSA,HA etc.
    </mat-checkbox>
    <mat-checkbox color="primary" class="text-color" formControlName="PositiveInterventionRecognition">Positive
      intervention/recognition</mat-checkbox>
    <mat-checkbox color="primary" class="text-color" formControlName="EngageWithContractors">Engage with contractors
    </mat-checkbox>
    <mat-checkbox color="primary" class="text-color" formControlName="HousekeepingInspection">Housekeeping inspection
    </mat-checkbox>
    <mat-checkbox color="primary" class="text-color" formControlName="CompleteBBO">Complete a BBO</mat-checkbox>
    <mat-checkbox color="primary" class="text-color" formControlName="OpenTeamDiscussion">Hold an open discussion with
      the team</mat-checkbox>
    <mat-checkbox color="primary" class="text-color" formControlName="SafetyAlert">Share a recent “Safety Alert”
      <br>verbally if required
    </mat-checkbox>
    <mat-checkbox color="primary" class="text-color" formControlName="ProvideFeedback">Provide feedback and follow-up
    </mat-checkbox>
    <mat-checkbox color="primary" class="text-color" formControlName="FormalAuditInspection">Participate in a formal
      audit/inspection <br>if available or applicable</mat-checkbox>
  </div>
</form>