<mat-accordion>
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
    <mat-expansion-panel-header class="right-aligned-header">
      <mat-panel-title class="text-color">
        Conducting Your Tour
      </mat-panel-title>
      <mat-panel-description fxLayout="end">*</mat-panel-description>
    </mat-expansion-panel-header>
    <app-meaningful-site-tour-header [headerForm]=headerForm></app-meaningful-site-tour-header>
    <br>
    <div class="action-btn" fxLayoutAlign="center center">
      <button mat-stroked-button color="primary" [disabled]="!headerForm.valid" (click)="nextStep()">Next</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
    <mat-expansion-panel-header class="right-aligned-header">
      <mat-panel-title class="text-color">
        Observations, Improvement & Feedback
      </mat-panel-title>
      <mat-panel-description>*</mat-panel-description>
    </mat-expansion-panel-header>
    <app-meaningful-site-tour-notes [notesForm]=notesForm></app-meaningful-site-tour-notes>
    <br>
    <div class="action-btn" fxLayoutAlign="center center" fxLayoutGap="20px">
      <button mat-stroked-button color="accent" (click)="prevStep()">Previous</button>
      <button mat-stroked-button color="primary" [disabled]="!notesForm.valid" (click)="nextStep()">Next</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
    <mat-expansion-panel-header>
      <mat-panel-title class="text-color">
        Signature
      </mat-panel-title>
    </mat-expansion-panel-header>
    <br>
    <div *ngIf="!isEdit" class="action-btn" fxLayoutAlign="center center">
      <mat-icon *ngIf="!headerForm.valid && !notesForm.valid && kioske" class="icon-169px text-color">fingerprint</mat-icon>
      <mat-icon *ngIf="headerForm.valid && notesForm.valid && !kioske" class="icon-169px-action hand" (click)="submitForm()">fingerprint</mat-icon>
    </div>
    <div *ngIf="isEdit" class="action-btn" fxLayoutAlign="center center">
      <mat-icon *ngIf="kioske" class="icon-169px text-color">fingerprint</mat-icon>
      <mat-icon *ngIf="headerForm.valid && notesForm.valid && !kioske" class="icon-169px-action hand" (click)="updateForm()">fingerprint</mat-icon>
    </div>
  </mat-expansion-panel>
</mat-accordion>
