.padding-left {
  padding-left: 20px;
}

.padding-right {
  padding-right: 20px;
}

.accordion-margin {
  margin-top: 20px;
  margin-bottom: 20px
}

.panel-margin {
  margin-top: 10px;
  margin-bottom: 10px
}
