<mat-toolbar>
  <div fxLayoutAlign="start center">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <img src="assets/parrot.svg" height="42px">
    </button>
    <mat-menu #menu="matMenu">
      <div class="logo-padding">
        <img *ngIf="(isDarkMode$ | async)" src="assets/logo-dark.png" height="90px">
        <img *ngIf="!(isDarkMode$ | async)" src="assets/logo-light.png" height="90px">
      </div>
      <button mat-menu-item>{{version}}</button>
      <!-- <button mat-menu-item (click)="upGradeIndexDB()">UpGrade</button> -->
    </mat-menu>
  </div>
  <span class="toolbar-spacer"></span>
  <div fxLayoutGap="20px" fxLayoutAlign="space-around center">
    <mat-icon class="hand text-color" (click)="openNotifications(1)">border_color</mat-icon>
    <mat-icon class="hand text-color" (click)="openNotifications(0)" matBadge="{{notificationCount$ | async}}"
      matBadgeColor="accent">notifications</mat-icon>
    <mat-icon class="hand text-color" (click)="openProfile()">person</mat-icon>
  </div>
</mat-toolbar>
<div class="form-padding" *ngFor="let formObj of (forms$ | async)">
  <mat-card *ngIf="formObj.is_published" class="custom hand" (click)=selectForm(formObj)>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="form-icon text-color material-icons-outlined">{{ formObj.icon }}</mat-icon>
      </div>
      <mat-card-title class="text-color">{{ formObj.name }}</mat-card-title>
      <mat-card-subtitle>{{ formObj.description }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<!-- <div class="form-padding" *ngFor="let app of apps">
  <mat-card class="custom hand" (click)=selectApp(app)>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="form-icon text-color material-icons-outlined">{{ app.icon }}</mat-icon>
      </div>
      <mat-card-title class="text-color">{{ app.name }}</mat-card-title>
      <mat-card-subtitle>{{ app.description }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div> -->