<mat-toolbar>
  <div *ngIf="!kioske" fxLayoutAlign="start center">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <img src="assets/parrot.svg" height="42px">
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>{{version}}</button>
      <button mat-menu-item (click)="upGradeIndexDB()">UpGrade</button>
    </mat-menu>
  </div>
  <div *ngIf="kioske" fxLayoutAlign="start center">
    <button mat-icon-button>
      <img src="assets/parrot.svg" height="42px"> 
    </button>
    <div class="text-color">formloco</div>
  </div>
  <span class="toolbar-spacer"></span>
  <div class="text-color" fxLayoutAlign="space-around center">
    <a *ngIf="kioske" mat-icon-button (click)="openNotifications(0)" target="blank" color="primary">
      <mat-icon class="material-icons-outlined" matBadge="{{notificationCount$ | async}}">dynamic_form</mat-icon>
    </a>
    <mat-icon *ngIf="!kioske" class="hand" (click)="openProfile()">person</mat-icon>
    <a *ngIf="kioske" mat-icon-button href='{{signinUrl}}' target="blank" color="primary">
      <mat-icon class="material-icons-outlined">admin_panel_settings</mat-icon>
    </a>
  </div>
</mat-toolbar>
<div class="form-padding" *ngFor="let formObj of (forms$ | async)">
  <mat-card *ngIf="formObj.is_published" class="custom hand" (click)=selectForm(formObj)>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="form-icon text-color material-icons-outlined">{{ formObj.icon }}</mat-icon>
      </div>
      <mat-card-title class="text-color">{{ formObj.name }}</mat-card-title>
      <mat-card-subtitle>{{ formObj.description }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<div *ngIf="kioske" class="footer">
  <mat-card class="custom hand">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon color="primary" class="form-icon text-color material-icons-outlined">phone_android</mat-icon>
      </div>
      <mat-card-title class="primary-color">Sign up Now!</mat-card-title>
      <mat-card-subtitle class="primary-color">Get Mobile - Get Digitalized</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<!-- <div class="form-padding" *ngFor="let app of apps">
  <mat-card class="custom hand" (click)=selectApp(app)>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="form-icon text-color material-icons-outlined">{{ app.icon }}</mat-icon>
      </div>
      <mat-card-title class="text-color">{{ app.name }}</mat-card-title>
      <mat-card-subtitle>{{ app.description }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div> -->