<mat-toolbar>
  <mat-toolbar-row>
    <div fxLayoutAlign="space-around center">
      <mat-icon color="primary" class="material-icons-outlined">dynamic_form</mat-icon>
      <div class="primary">&nbsp;Forms</div>
    </div>
    <span class="toolbar-spacer"></span>
    <div class="text-color" fxLayoutAlign="space-around center">
      <a mat-icon-button (click)="openNotifications(0)" color="primary">
        <mat-icon class="material-icons-outlined" matBadge="{{notificationCount$ | async}}">notifications</mat-icon>
      </a>
      <a mat-icon-button (click)="openProfile()" color="primary">
        <mat-icon class="material-icons-outlined">person</mat-icon>
      </a>
      <a *ngIf="user?.admin" mat-icon-button (click)="signin()" color="primary">
        <mat-icon class="material-icons-outlined">admin_panel_settings</mat-icon>
      </a>
      <a *ngIf="kioske" mat-icon-button color="primary" href="{{homeUrl}}">
        <mat-icon class="material-icons-outlined">home</mat-icon>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="form-padding" *ngFor="let formObj of (formsPublished$ | async)">
  <mat-card *ngIf="formObj.is_published" class="hand" (click)=selectForm(formObj)>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="form-icon text-color material-icons-outlined">{{ formObj.icon }}</mat-icon>
      </div>
      <mat-card-title class="text-color">{{ formObj.name }}</mat-card-title>
      <mat-card-subtitle>{{ formObj.description }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<div class="footer">
  <mat-toolbar>
    <div fxLayoutAlign="space-around center">
      <div fxLayoutAlign="space-around center" fxLayoutGap="20px">
        <a mat-stroked-button color="accent" href='{{designUrl}}'>
          <mat-icon>design_services</mat-icon>&nbsp;Design
        </a>
      </div>
    </div>
    <span class="toolbar-spacer"></span>
    <img src="assets/parrot.svg" height="28px">&nbsp;<span class="mat-small text-color">{{version}}</span>
  </mat-toolbar>
</div>