<div [ngStyle]="{'background-color': (background$ | async)}" fxFlexFill>
  <div class="padding" fxLayoutAlign="center space-between" fxLayout="row">
    <div fxLayoutAlign="start center" class="text-color">Reset Password</div>
    <span class="toolbar-spacer"></span>
    <div>
      <button (click)=close() mat-icon-button>
        <mat-icon class="text-color">close</mat-icon>
      </button>
    </div>
  </div>
  <form class="container-padding text-color" [formGroup]="passwordForm">
    <div fxLayout="column">
      <div class="text-color text-center">
        <div><img src="{{logo}}"></div>
      </div>
      <br>
      <mat-form-field class="text-color" appearance="outline" fxFlex>
        <mat-label class="text-color">Password</mat-label>
        <input class="text-color" matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <mat-icon class="hand" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <button (click)="resetPassword()" color="primary" mat-flat-button>
        Reset Password
      </button>
    </div>
  </form>
</div>
