<div class="container-padding">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="50">
      <h2>{{ name$ | async }}</h2>
    </div>
    <div *ngIf="isData" fxLayoutGap="20px">
      <button mat-raised-button color="primary" (click)="exportData()">
        Export Data
      </button>
    </div>
  </div>
  <mat-list role="list" *ngFor="let element of records;">
    <mat-list-item role="listitem">
      Year:&nbsp;{{ element.data.header.Year }}&nbsp;
      Make:&nbsp;{{ element.data.header.Make }}&nbsp;
      Model:&nbsp;{{ element.data.header.Model }}&nbsp;
      User:&nbsp;{{ element.user_created.name }}
    </mat-list-item>
  </mat-list>
</div>