<form class="run-container" *ngIf="selectedForm$ | async" [formGroup]="runForm">
  <div *ngFor="let control of (selectedForm$ | async).details; let i=index">
    <div [ngSwitch]="control.type">
      <app-label-run *ngSwitchCase="'Label'" [index]=i></app-label-run>
      <app-gps-run *ngSwitchCase="'GPS'" [runForm]="runForm" ></app-gps-run>
      <app-textbox-run *ngSwitchCase="'Textbox'" [runForm]="runForm" [index]=i>
      </app-textbox-run>
      <app-textarea-run *ngSwitchCase="'Textarea'" [runForm]="runForm" [index]=i>
      </app-textarea-run>
      <app-checkbox-run *ngSwitchCase="'Checkbox'" [runForm]="runForm" [index]=i>
      </app-checkbox-run>
      <app-radio-run *ngSwitchCase="'Radio'" [runForm]="runForm" [index]=i>
      </app-radio-run>
      <app-select-run *ngSwitchCase="'Select'" [runForm]="runForm" [index]=i>
      </app-select-run>
      <app-slider-run *ngSwitchCase="'Slider'" [runForm]="runForm" [index]=i>
      </app-slider-run>
      <app-toggle-run *ngSwitchCase="'Toggle'" [runForm]="runForm" [index]=i>
      </app-toggle-run>
    </div>
  </div>
</form>
<div fxLayoutAlign="center center">
  <mat-icon class="icon-120px-action" (click)="saveCloud()">fingerprint</mat-icon>
</div>