<form class="header-form" [formGroup]="companyForm" fxLayout="column">
  <mat-form-field class="text-color" fxflex>
    <mat-label>Choose a date</mat-label>
    <input matInput formControlName="dateCreated" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="text-color" fxflex>
    <mat-label>Company</mat-label>
    <input type="text" placeholder="Company" matInput formControlName="company" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="text-color" fxFlex>
    <mat-label>Location</mat-label>
    <input matInput placeholder="Location" formControlName="location" type="text">
  </mat-form-field>
  <mat-form-field class="text-color" fxFlex>
    <mat-label>Muster Point</mat-label>
    <input matInput placeholder="Muster Point" formControlName="musterPoint" type="text">
  </mat-form-field>
  <mat-form-field class="text-color" fxFlex>
    <mat-label>Permit/Job Number</mat-label>
    <input matInput placeholder="Permit/Job Number" formControlName="jobNumber" type="text">
  </mat-form-field>
  <mat-label class="text-color bottom-padding">PPE Inspection</mat-label>
  <mat-radio-group class="text-color bottom-padding" formControlName="ppeInspection" color="primary">
    <mat-radio-button value="true">Yes</mat-radio-button>
    <mat-radio-button value="false">No</mat-radio-button>
  </mat-radio-group>
</form>