<div fxLayout="column">
  <div class="text-color mat-h1" fxLayout="row" fxLayoutAlign="space-between center">
    <div>Contact</div>
    <div>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div fxLayout="column" class="text-color" fxLayoutAlign="center center">
      <!-- <img src="assets/formlocoMap.svg" width="269px"> -->
      <!-- <h1>formloco Canada</h1>
      <div>Brock Clayton</div>
      <div>Calgary, Alberta</div> -->
      <h3>brock@formloco.com</h3>
      <h3>403-465-2151</h3>
      <!-- <h1>formloco USA</h1>
      <div>Ted Messerly</div>
      <div>Lodi, Wisconson</div>
      <div>ted@formloco.com</div>
      <div>1-833-665-0776</div> -->
  </div>
</div>