<div fxLayout="column">
  <div class="text-color mat-h1" fxLayout="row" fxLayoutAlign="space-between center">
    <div>Contact</div>
    <div>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div fxLayoutAlign="center">
    <div class="text-color">
      <img src="assets/formlocoMap.svg" width="269px">
      <h1>formloco Canada</h1>
      <div>Brock Clayton</div>
      <div>Calgary, Alberta</div>
      <div>brock@formloco.com</div>
      <div>403-465-2151</div>
      <h1>formloco USA</h1>
      <div>Ted Messerly</div>
      <div>Madison, Wisconson</div>
      <div>ted@formloco.com</div>
      <div>403-465-2151</div>
    </div>
  </div>
</div>