<form fxLayout="column" [formGroup]="headerForm">
  <ion-label position="stacked">Choose a date</ion-label>
  <ion-datetime class="picker-color" displayFormat="MMM DD, YYYY HH:mm" formControlName="Date">
  </ion-datetime>
  <mat-divider></mat-divider>
  <br>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Client Name" formControlName="Name" type="text" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location</mat-label>
    <input matInput placeholder="" formControlName="Location" type="text" required>
  </mat-form-field>
  <mat-form-field class="bot-pad full-width-field">
    <mat-label> First & Last Name</mat-label>
    <input type="text" placeholder="Select or Enter First Name & Last Name" matInput
      [formControl]="autoCompleteService.workersControl" [matAutocomplete]="autoWorkers" required>
    <mat-hint>Worker Completing the Tour</mat-hint>
    <mat-autocomplete #autoWorkers="matAutocomplete" required>
      <mat-option *ngFor="let worker of autoCompleteService.filteredWorkers$ | async" [value]="worker.name">
        {{worker.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width-field">
    <mat-label>Supervisor Name</mat-label>
    <input type="text" placeholder="Select or Enter Supervisor Name" matInput
      [formControl]="autoCompleteService.supervisorsControl" [matAutocomplete]="autoSupervisors" required>
    <mat-autocomplete #autoSupervisors="matAutocomplete" required>
      <mat-option *ngFor="let supervisor of autoCompleteService.filteredSupervisors$ | async" [value]="supervisor.name"
        required>
        {{supervisor.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="text-color">
    <p class="text-color"><b>10 Questions to Ask:</b></p>
    <p class="text-color">How does it work here?&nbsp;How does the day start?&nbsp;How are daily safety meetings
      conducted?&nbsp;What is discussed?<br>
      What are the top 3 things that Summit should focus on or fix?<br>
      What are the main hazards to this operation or site/location and how well do we mitigate them?<br>
      How would you describe Summit's safety culture to your coworkers/family/friends - would you encourage people to
      work for Summit?<br>
      Do you, your crew or site believe that Summit is fully committed to putting people's safety before profits?<br>
      When was the last time you/we intervened at this site?<br>
      How comfortable is everyone with intervention?<br>
      What are you proud of at this site?<br>
      Make it personal.<br>
      Start conversation - How long with Summit? Family? Hobbies?<br>
      Do you believe you have support to STOP work or refuse unsafe work?<br>
      Is there a short service worker program in place?<br>
      Does it work?<br>
      Competency process?</p>
  </div>
</form>