<div [ngStyle]="{'background-color': (background$ | async)}" fxFlexFill>
  <div>
    <div [fxFlex]="screenWidth$ | async">
      <app-pin *ngIf="(page$ | async) === 'pin'"></app-pin>
      <app-whyus *ngIf="(page$ | async) === 'whyus'"></app-whyus>
      <app-pricing *ngIf="(page$ | async) === 'pricing'"></app-pricing>
      <app-identification *ngIf="(page$ | async) === 'identify'"></app-identification>
      <app-form *ngIf="(page$ | async) === 'form'"></app-form>
      <app-kioske *ngIf="(page$ | async) === 'kioske'"></app-kioske>
      <app-home *ngIf="(page$ | async) === 'home'"></app-home>
      <app-notification *ngIf="(page$ | async) === 'notification'"></app-notification>
      <app-admin (changeTheme)=changeTheme($event) *ngIf="(page$ | async) === 'admin'"></app-admin>
      <app-send-password *ngIf="(page$ | async) === 'send-password'"></app-send-password>
      <app-profile (changeTheme)=changeTheme($event) *ngIf="(page$ | async) === 'profile'"></app-profile>
    </div>
  </div>
</div>
