<div mat-subheader>Worksite Safety Inspection Form</div>
<br>
<div fxLayout="column">
  <div><b>Date:</b>&nbsp;&nbsp;{{form.header.Date | date: 'shortDate'}}</div>
  <div><b>Worker:</b>&nbsp;&nbsp;{{form.header.Worker}}</div>
  <div><b>Supervisor:</b>&nbsp;&nbsp;{{form.header.Supervisor}}</div>
  <div><b>Supervisor Phone:</b>&nbsp;&nbsp;{{form.header.SupervisorPhone}}</div>
  <div><b>Client:</b>&nbsp;&nbsp;{{form.header.Client}}</div>
  <div><b>JobNumber:</b>&nbsp;&nbsp;{{form.header.JobNumber}}</div>
  <div><b>Division:</b>&nbsp;&nbsp;{{form.header.Division}}</div>
  <div><b>Scope of Work:</b>&nbsp;&nbsp;{{form.header.ScopeOfWork}}</div>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div mat-subheader>Descrepancies</div>
<br>
<form class="header-form" [formGroup]="discrepancyForm">
  <mat-form-field>
    <textarea cdkTextareaAutosize cdkAutosizeMaxRows="10" matInput formControlName="Discrepancy"
      placeholder="Discrepancy report"></textarea>
  </mat-form-field>
</form>

<div fxLayout="column" class="hand" fxLayoutAlign="space-around center">
  <mat-icon class="icon-169px-action" (click)="signForm()">fingerprint</mat-icon>
  <div class="text-color bottom-padding">
    <mat-label>Press to Sign</mat-label>
  </div>
</div>