<div class="text-color"><b>A FEW SUGGESTIONS FOR A SUCCESSFUL SITE TOUR:</b></div>
<div class="text-color">
  <ul>
    <li>Identify a point of contact person before the tour</li>
    <li>Double check any additional safety training requirements. (i.e. H₂S, Standard First Aid</li>
    <li>Double check any additional safety training requirements. (i.e. H₂S, Standard First Aid etc.) or visitor status
    </li>
    <li>Plan for a minimum of two hours</li>
    <li>Carry the latest safety communication, monthly reports, etc.</li>
    <li>Plan for more listening than talking</li>
    <li>Ensure you have the correct PPE</li>
    <li>Be aware of Summit's current safety performance</li>
    <li>Try to attend a key event (morning tailgate, shift handover, etc.)</li>
    <li>Ensure you provide feedback and follow-up</li>
    <li>Carry some “spot recognition” items</li>
  </ul>
</div>