<!-- This element is hidden but used, needed to create csv // 02-01-2022 -->
<div style="display: none;">
  <form class="header-form" [formGroup]="discrepancyForm">
    <div fxLayout="column">
      <mat-form-field fxFlex>
        <mat-label>Discrepancies</mat-label>
        <textarea cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10" matInput formControlName="Discrepancy" placeholder="The following discrepancies were noted" fxFlex></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<!-- This element is hidden but used, needed to create csv -->

<mat-list role="list">
  <mat-list-item color="primary" class="mat-list-item-font" *ngFor="let comment of discrepancyComments">
    <div mat-line style="display: flex; justify-content: space-between; align-items: center;">
      <span class="mat-list-item-linked" (click)="openComment(comment.label, comment.field)">{{ comment.label }} {{ comment.text }}</span>
      <button color="primary" mat-mini-fab>
        <mat-icon class="material-icons-outlined hand" (click)="openCorrectiveActionDialog(comment)">fact_check</mat-icon>
      </button>
    </div>
  </mat-list-item>
  <mat-list-item class="mat-list-item-font" *ngIf="discrepancyComments.length <= 0">
    <div mat-line>None added</div>
  </mat-list-item>
</mat-list>