<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="openTemplateOverlay()">
      <mat-icon>{{ state.selectedForm.icon }}</mat-icon>
      Add Fire Extinguisher
    </button>
  </div>
  <br>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <ng-template cdk-portal #overlayTemplate="cdkPortal">
    <div class="overlayProps" [ngStyle]="{'background-color': appService.canvasBackground}">
      <mat-toolbar [ngStyle]="{'background-color': appService.canvasBackground}">
        <span  fxLayoutAlign="start center">
          <mat-icon class="form-icon24">{{ state.selectedForm.icon }}</mat-icon>Add New Fire Extinguisher</span>
        <span class="toolbar-spacer"></span>
        <button  mat-icon-button (click)="close()">
          <mat-icon >close</mat-icon>
        </button>
      </mat-toolbar>
      <form [formGroup]="jobDetailForm">
        <div fxLayout="row" fxLayoutGap=20px>
          <mat-form-field>
            <mat-label>Floor</mat-label>
            <input matInput formControlName="floor" type="text">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Location</mat-label>
            <input matInput formControlName="location" type="text">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap=20px>
          <mat-form-field>
            <mat-label>Size</mat-label>
            <input matInput placeholder="Size" formControlName="size" type="text">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Make</mat-label>
            <input matInput formControlName="make" type="text">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap=20px>
          <mat-form-field >
            <mat-label>6 Year</mat-label>
            <input matInput formControlName="sixYear" type="text">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Next HST</mat-label>
            <input matInput formControlName="nextHST" type="text">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap=20px>
          <mat-form-field>
            <mat-label>Serial Number</mat-label>
            <input matInput formControlName="serialNumber" type="text">
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Work Performed</mat-label>
          <input matInput formControlName="workPerformed" type="text">
        </mat-form-field>
        <div fxLayout="row">
          <mat-form-field>
            <mat-label>Remarks</mat-label>
            <input matInput formControlName="remarks" type="text">
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <button mat-raised-button (click)=save() color="primary">
            Save
            <mat-icon>add_task</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </ng-template>
</div>

<cdk-virtual-scroll-viewport class="viewport-300" itemSize="10">
  <dl class="example-dl">
    <ng-container *cdkVirtualFor="let detail of appService.details; let i = index">
      <dt (click)="edit(i, detail)" class="example-dt">Floor:
        <b>{{detail.floor}}</b>, Location:
        <b>{{detail.location}}</b>, Size:
        <b>{{detail.size}}</b>, Make:
        <b>{{detail.make}}</b>
      </dt>
    </ng-container>
  </dl>
</cdk-virtual-scroll-viewport>