.overlayProps {
  border: solid 1px #ccc;
  border-radius: 5px 5px 0px 0px;
}

.companyPanel {
  max-height: 800px;
  overflow: auto;
  padding: 20px;
}

mat-selection-list {
  max-height: 600px;
  overflow: auto;
}