<footer>
  <div *ngIf="!state.selectedForm.history">
    <div fxLayout="column" fxFlex>
      <div fxLayout="row" fxLayoutAlign="center" fxFlex>
        <button mat-flat-button fxFlex>&nbsp;</button>
      </div>
    </div>
  </div>
  <span *ngIf="state.selectedForm.history">
    <div fxLayout="column" fxFlex>
      <div fxLayout="row" fxLayoutAlign="center" fxFlex>
        <button mat-flat-button (click)="isHistory = !isHistory" color="primary" cdkOverlayOrigin #historyTrigger="cdkOverlayOrigin"
          fxFlex>
          History
        </button>
      </div>
    </div>
    <ng-template #historyTemplate cdkConnectedOverlay [cdkConnectedOverlayOrigin]="historyTrigger" [cdkConnectedOverlayOpen]="isHistory"
      (backdropClick)="closeOverlay()" [cdkConnectedOverlayHasBackdrop]=true cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
      [cdkConnectedOverlayWidth]="myInnerWidth">
      <div class="overlayProps" fxLayout="column" [ngStyle]="{'background-color': appService.canvasBackground}" fxFlex>
        <div class="text-color" fxLayout="row" fxLayoutAlign="center">
          <span fxLayoutAlign="center center">
            <mat-icon class="form-icon24">{{ state.selectedForm.icon }}</mat-icon>{{ state.selectedForm.name }}</span>
          <span class="toolbar-spacer"></span>
          <button mat-icon-button (click)="closeOverlay()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" fxFlex>
          <mat-selection-list [multiple]="false" fxFlex>
            <mat-list-option *ngFor="let form of appService.history; let i = index">
              <div (click)="restoreData(i)" mat-line>
                Company:&nbsp;{{form.company_name}}
                <br>Job #:&nbsp;{{form.job_number}}&nbsp;&nbsp;Date:&nbsp; {{form.date_created | date}}
              </div>
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </ng-template>
  </span>

</footer>