<mat-toolbar>
  <span fxLayoutAlign="center center">
    <mat-icon class="form-icon">{{ state.selectedForm.icon }}</mat-icon>&nbsp;{{ state.selectedForm.name }}</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<span *ngIf="state.selectedForm.type === 'custom'">
  <app-hazard-assessment *ngIf="state.selectedForm.id === 'hazard-assessment'" [state]=state></app-hazard-assessment>
  <app-fire-extinguisher *ngIf="state.selectedForm.id === 'fire-extinguisher'" [state]=state></app-fire-extinguisher>
  <app-footer [state]=state (getHistory)="getHistory($event)"></app-footer>
</span>
<div *ngIf="state.selectedForm.type === 'dynamic'">
  <app-run [state]=state [runForm]=runForm></app-run>
</div>

