.title {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.mine {
  position: absolute;
  bottom: 60px;
}

.form-icon {
  font-size: 24px;
}
//555 for iphone -112 for header and footer
//
.scroller {
  height: 620px;
  overflow: auto;
}