<div mat-subheader>Meaningful Site Tour Form</div>
<br>
<div fxLayout="column">
  <div><b>Date:</b>&nbsp;&nbsp;{{form.header.Date | date: 'shortDate'}}</div>
  <div><b>Division:</b>&nbsp;&nbsp;{{form.header.Division}}</div>
  <div><b>Worker:</b>&nbsp;&nbsp;{{form.header.Worker}}</div>
  <div><b>Supervisor:</b>&nbsp;&nbsp;{{form.header.Supervisor}}</div>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div mat-subheader>Summary & Feedback</div>
<br>
<form class="header-form" [formGroup]="feedbackSummaryForm">
  <mat-form-field>
    <textarea cdkTextareaAutosize cdkAutosizeMaxRows="10" matInput formControlName="FeedbackSummary"
      placeholder="Feedback & Summary"></textarea>
  </mat-form-field>
</form>

<div *ngif="!kioske" fxLayout="column" class="hand" fxLayoutAlign="space-around center">
  <mat-icon class="icon-169px-action" (click)="signForm()">fingerprint</mat-icon>
  <div class="hand text-color bottom-padding">
    <mat-label>Press to Sign</mat-label>
  </div>
</div>
<div *ngif="kioske" fxLayout="column" fxLayoutAlign="space-around center" class="hand" fxLayoutAlign="space-around center">
  <mat-icon class="icon-169px-action color-text">fingerprint</mat-icon>
  <div class="text-color bottom-padding">
    <mat-label>Press to Sign</mat-label>
  </div>
</div>