.header-form {
  margin-left: 20px;
  margin-right: 20px;
  // min-width: 150px;
  // max-width: 500px;
  width: 100%;
}

.bot-pad {
  padding-bottom: 9px
}

.mat-divider {
  border-top-color: #959595;
  padding-bottom: 15px;
}


