<div class="menu-padding" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="3px">
  <button color="primary" (click)="openPage('map')" mat-flat-button fxFlex>
    <mat-icon>map</mat-icon>Map
  </button>
  <button color="primary" (click)="openPage('assets')" mat-flat-button fxFlex>
    <mat-icon>request_quote</mat-icon>Asset
  </button>
  <!-- <button color="primary" (click)="openPage('yard')" mat-flat-button>
    <mat-icon>domain</mat-icon>Yard
  </button> -->
  <button color="primary" (click)="openPage('log')" mat-flat-button fxFlex>
    <mat-icon>format_align_justify</mat-icon>Log
  </button>
</div>