<div fxLayout="row" fxLayoutAlign="center center">
  <form fxLayout="column" [formGroup]="personalEquipmentForm">
    <div class="text-color radio-center">Not Applicable(N/A), Unsatisfactory(U), Satisfactory(S)</div>
    <br>
    <div class="text-color radio-center">Is the appropriate PPE available and being used</div>
    <div class="text-color radio-margin" fxLayoutAlign="center center">
      <mat-radio-group formControlName="PPEAvailable">
        <mat-radio-button value="satisfactory">S</mat-radio-button>
        <mat-radio-button (click)="openDiscrepancy('Is the appropriate PPE available and being used','PPEAvailable', true)" value="unsatisfactory">U</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="text-color radio-center">Hard Hat</div>
    <div class="text-color radio-margin" fxLayoutAlign="center center">
      <mat-radio-group formControlName="HardHat">
        <mat-radio-button value="satisfactory">S</mat-radio-button>
        <mat-radio-button (click)="openDiscrepancy('Hard Hat','HardHat', true)" value="unsatisfactory">U</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="text-color radio-center">Safety Glasses</div>
    <div class="text-color radio-margin" fxLayoutAlign="center center">
      <mat-radio-group formControlName="SafetyGlasses">
        <mat-radio-button value="satisfactory">S</mat-radio-button>
        <mat-radio-button (click)="openDiscrepancy('Safety Glasses','SafetyGlasses', true)" value="unsatisfactory">U</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="text-color radio-center">Footwear</div>
    <div class="text-color radio-margin" fxLayoutAlign="center center">
      <mat-radio-group formControlName="Footwear">
        <mat-radio-button value="satisfactory">S</mat-radio-button>
        <mat-radio-button (click)="openDiscrepancy('Footwear','Footwear', true)" value="unsatisfactory">U</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="text-color radio-center">Protective clothing (FR coveralls, gloves, etc)</div>
    <div class="text-color radio-margin" fxLayoutAlign="center center">
      <mat-radio-group formControlName="ProtectiveClothing">
        <mat-radio-button value="satisfactory">S</mat-radio-button>
        <mat-radio-button (click)="openDiscrepancy('Protective clothing (FR coveralls, gloves, etc)','ProtectiveClothing', true)" value="unsatisfactory">U</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="text-color radio-center">Hearing protection</div>
    <div class="text-color radio-margin" fxLayoutAlign="center center">
      <mat-radio-group formControlName="HearingProtection">
        <mat-radio-button value="satisfactory">S</mat-radio-button>
        <mat-radio-button (click)="openDiscrepancy('Hearing protection','HearingProtection', true)" value="unsatisfactory">U</mat-radio-button>
        <mat-radio-button value="na">N/A</mat-radio-button>
      </mat-radio-group>
    </div> 
    <div class="text-color radio-center">Respiratory protection (Appropriate for the hazard)</div>
    <div class="text-color radio-margin" fxLayoutAlign="center center">
      <mat-radio-group formControlName="RespiratoryProtection">
        <mat-radio-button value="satisfactory">S</mat-radio-button>
        <mat-radio-button (click)="openDiscrepancy('Respiratory protection (Appropriate for the hazard)','RespiratoryProtection', true)" value="unsatisfactory">U</mat-radio-button>
        <mat-radio-button value="na">N/A</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="text-color radio-center">Personal gas monitor</div>
    <div class="text-color radio-margin" fxLayoutAlign="center center">
      <mat-radio-group formControlName="PersonalGasMonitor">
        <mat-radio-button value="satisfactory">S</mat-radio-button>
        <mat-radio-button (click)="openDiscrepancy('Personal gas monitor','PersonalGasMonitor', true)" value="unsatisfactory">U</mat-radio-button>
        <mat-radio-button value="na">N/A</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="text-color radio-center">Communication equipment</div>
    <div class="text-color radio-margin" fxLayoutAlign="center center">
      <mat-radio-group formControlName="CommunicationEquipment">
        <mat-radio-button value="satisfactory">S</mat-radio-button>
        <mat-radio-button (click)="openDiscrepancy('Communication equipment','CommunicationEquipment', true)" value="unsatisfactory">U</mat-radio-button>
        <mat-radio-button value="na">N/A</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="text-color radio-center">Other equipment (please specify)</div>
    <div class="text-color radio-margin" fxLayoutAlign="center center">
      <mat-radio-group formControlName="OtherEquipment">
        <mat-radio-button (click)="openComment('Other equipment (please specify)','OtherEquipment')" value="satisfactory">S</mat-radio-button>
        <mat-radio-button (click)="openDiscrepancy('Other equipment (please specify)','OtherEquipment', true)" value="unsatisfactory">U</mat-radio-button>
        <mat-radio-button value="na">N/A</mat-radio-button>
      </mat-radio-group>
    </div> 
    <div>
      <div class="text-color" fxLayoutAlign="space-between center">
        <div>
          <mat-label>Personal Equipment Comments</mat-label>
        </div>
        <div>
          <button (click)="openVoice('PersonalEquipmentComments','Personal Protective Equipment Comments')" mat-mini-fab color="primary">
            <mat-icon matSuffix>mic_none</mat-icon>
          </button>
        </div>
      </div>
      <div>
        <mat-form-field fxFlex>
          <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" matInput
            formControlName="PersonalEquipmentComments" fxFlex></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
