<mat-accordion multi [togglePosition]="'before'" *ngFor="let notification of (notificationOpen$ | async);  index as i">
  <mat-expansion-panel (click)="setNotificationMessage(notification)" class="accordion-padding">
    <mat-expansion-panel-header (click)="setRead(notification)">
      <mat-panel-title fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-icon *ngIf="!notification.read" class="material-icons-outlined icon-orange">mark_as_unread</mat-icon>
        <mat-icon *ngIf="notification.read" class="material-icons-outlined">mail</mat-icon>
        <div>{{notification.description}}</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="form-padding" *ngFor="let comment of notification.comment">
      <mat-card class="custom hand">
        <b>{{comment.from}} - {{comment.date | date: 'short'}}</b>
        <br>{{comment.message}}
      </mat-card>
    </div>
    <br>
    <form class="container-padding" [formGroup]="messageForm">
      <div>
        <mat-form-field class="text-color" fxFlex>
          <mat-label>Send Message to {{sendTo}}</mat-label>
          <input matInput placeholder="New Message" formControlName="message" type="text">
        </mat-form-field>
      </div>
    </form>
    <div fxLayoutAlign="space-between center">
      <div>
        <button color="primary" mat-mini-fab [disabled]="!messageForm.valid">
          <mat-icon class="material-icons-outlined" (click)="sendMessage(i)">send</mat-icon>
        </button>
      </div>
      <div fxLayoutAlign="space-between center" fxLayoutGap="30px">
        <button color="primary" mat-mini-fab>
          <mat-icon class="material-icons-outlined" (click)="openPdf(notification)">picture_as_pdf</mat-icon>
        </button>
        <button color="primary" mat-mini-fab>
          <mat-icon class="material-icons-outlined" (click)="openForm(notification)">dynamic_form</mat-icon>
        </button>
        <!-- <button color="primary" mat-mini-fab>
          <mat-icon class="material-icons-outlined" (click)="openImage(notification)">perm_media</mat-icon>
        </button> -->
        <button *ngIf="notification.email_from !== user?.email" color="primary" mat-mini-fab>
          <mat-icon class="material-icons-outlined" (click)="openSign(notification)">border_color</mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<h4 class="text-color padding-left" *ngIf="(notificationOpen$ | async)?.length === 0">No open notifications</h4>