<div mat-subheader>Vehicle Inspection Form</div>
<br>
<div fxLayout="column">
  <div><b>Date:</b>&nbsp;&nbsp;{{form.header.Date | date: 'shortDate'}}</div>
  <div><b>Worker:</b>&nbsp;&nbsp;{{form.header.Worker}}</div>
  <div><b>Supervisor:</b>&nbsp;&nbsp;{{form.header.Supervisor}}</div>
  <div><b>Stakeholder:</b>&nbsp;&nbsp;{{form.header.Stakeholder}}</div>
  <div><b>Division:</b>&nbsp;&nbsp;{{form.header.Division}}</div>
  <div><b>Vehicle:</b>&nbsp;&nbsp;{{form.header.Year}}, {{form.header.Make}}, {{form.header.Model}}</div>
  <div><b>Mileage Reading:</b>&nbsp;&nbsp;{{form.header.Mileage}}&nbsp;KM</div>
  <div><b>Registration Expiry Date:</b>&nbsp;&nbsp;{{form.header.RegistrationDate | date: 'shortDate'}}</div>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div *ngIf="details.length > 0" mat-subheader>Vehicle Descrepancies</div>
<br>
<div fxLayout="column" *ngFor="let detail of details">
  <div fxLayoutAlign="start center">
    <mat-icon class="material-icons-outlined" mat-list-icon>disabled_by_default</mat-icon>&nbsp;&nbsp;
    <b>{{detail.name}}</b>
  </div>
  <div>{{detail.comments}}</div>
  <br>
</div>
<form class="header-form" [formGroup]="discrepancyForm">
  <mat-form-field>
    <textarea cdkTextareaAutosize cdkAutosizeMaxRows="10" matInput formControlName="Discrepancy"
      placeholder="Discrepancy report"></textarea>
  </mat-form-field>
</form>

<div fxLayout="column" class="hand" fxLayoutAlign="space-around center">
  <mat-icon class="icon-169px-action" (click)="signForm()">fingerprint</mat-icon>
  <div class="text-color bottom-padding">
    <mat-label>Press to Sign</mat-label>
  </div>
</div>