<div fxLayout="row" fxLayoutAlign="center center">
  <form fxLayout="column" [formGroup]="rulesForm">
    <div class="text-color radio-center">Not Applicable(N/A), Unsatisfactory(U), Satisfactory(S)</div>
    <br>
    <div class="text-color radio-center">Are there procedures for high risk or critical work? Are they available and used?</div>
    <div class="text-color radio-margin" fxLayoutAlign="center center">
      <mat-radio-group formControlName="Procedures">
        <mat-radio-button (click)="toggle('Procedures')" value="satisfactory">S</mat-radio-button>
        <mat-radio-button (click)="openDiscrepancy('Are there procedures for high risk or critical work? Are they available and used?','Procedures', true)" value="unsatisfactory">U</mat-radio-button>
        <mat-radio-button value="na">N/A</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="text-color radio-center">Are there written emergency plans available and communicated to personnel on the work site?</div>
    <div class="text-color radio-margin" fxLayoutAlign="center center">
      <mat-radio-group formControlName="EmergencyPlan">
        <mat-radio-button (click)="toggle('EmergencyPlan')" value="satisfactory">S</mat-radio-button>
        <mat-radio-button (click)="openDiscrepancy('Are there written emergency plans available and communicated to personnel on the work site?','EmergencyPlan', true)" value="unsatisfactory">U</mat-radio-button>
        <mat-radio-button value="na">N/A</mat-radio-button>
      </mat-radio-group>
    </div> 
    <div>
      <div class="text-color" fxLayoutAlign="space-between center">
        <div>
          <mat-label>Rules & Work Procedures Comments</mat-label>
        </div>
        <div>
          <button (click)="openVoice('RulesComments','Rules & Work Procedures Comments')" mat-mini-fab color="primary">
            <mat-icon matSuffix>mic_none</mat-icon>
          </button>
        </div>
      </div>
      <div>
        <mat-form-field fxFlex>
          <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" matInput
            formControlName="RulesComments" fxFlex></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

