@use '~@angular/material' as mat;
@import './styles-app';
@include mat.core();

$angular-primary: mat.define-palette(mat.$light-blue-palette, 300, 100, 900);
$angular-accent: mat.define-palette(mat.$orange-palette, 300, 100, 400);
$angular-warn: mat.define-palette(mat.$red-palette, 300);
$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

html, body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden;}



