<div class='filter-box'>
  <select name="form" id="dashboard-form-select" class='filter-select'
    (change)='updateFilters("form", $event.target.value)'>
    <option value="all" selected>All Forms</option>
    <option value="Spot Check Inspection">Spot Check Inspection</option>
    <option value="Meaningful Site Tour">Meaningful Site Tour</option>
    <option value="Vehicle Inspection">Vehicle Inspections</option>
    <option value="Worksite Safety Inspection">Worksite Safety Inspection</option>
  </select>
  <select name="month" id="dashboard-month-select" class='filter-select'
    (change)='updateFilters("month", $event.target.value)'>
    <option value="all" selected>All Months</option>
    <option value="01">January</option>
    <option value="02">February</option>
    <option value="03">March</option>
    <option value="04">April</option>
    <option value="05">May</option>
    <option value="06">June</option>
    <option value="07">July</option>
    <option value="08">August</option>
    <option value="09">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
  </select>
  <select name="year" id="dashboard-year-select" class='filter-select'
    (change)='updateFilters("year", $event.target.value)'>
    <option value="all" selected>All Years</option>
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
  </select>
  <select name="supervisor" id="dashboard-supervisor-select" class='filter-select'
    (change)='updateFilters("supervisor", $event.target.value)'>
    <option value="all" selected>All Supervisors</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div>