<div fxLayout="column">
  {{(label$ | async)}}
</div>
<mat-list role="list" *ngFor="let comment of (comments$ | async)">
  <mat-list-item color="primary" class="mat-list-item-font" *ngIf="isCommentTab(step) ? !isDiscrepancy(comment) : isDiscrepancy(comment)" >
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <span 
      class="mat-list-item-linked hand" 
      (click)="openComment(comment.label, comment.field)">{{ comment.label | truncate:[12, '...']}} {{ comment.text | truncate:[15, '...']}}</span>
      <button mat-icon-button color="primary">
        <mat-icon class="material-icons-outlined" (click)="openCorrectiveActionDialog(comment)">fact_check</mat-icon>
      </button>
    </div>
  </mat-list-item>
  <mat-list-item class="mat-list-item-font" *ngIf="(comments$ | async)?.length == 0">
    <div mat-line>-- None Added --</div>
  </mat-list-item>
</mat-list>
