<div class="text-color mat-h1" fxLayout="row" fxLayoutAlign="space-between center">
  <div>Features</div>
  <div>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div fxLayout="column" class="text-color">
  <h2>Design Studio</h2>
  <div>
    Convert paper-driven data to digital forms with design studio. Publish forms to your mobile app.
  </div>
  <h2>Memorialize Your Work</h2>
  <div>
    Auto-generate signed PDF documents with form data, pictures and history.
  </div>
  <h2>Real-time Notifications</h2>
  <div>
    Stay intouch with your team and sign-off on your work quickly.
  </div>
  <h2>Smart Forms</h2>
  <div>
    Update smart form content with notes and pictures over time until sign-off.
  </div>
  <h2>Flexible Deployment</h2>
  <div>
    Runs everywhere, deploy on our cloud or your provider or internally.
  </div>
  <br>
  <div>
    <a class="green" href="https://github.com/formloco/formloco/wiki" target="blank" mat-stroked-button>
      Developers
    </a>
  </div>
</div>